body
{
	margin-top:0%;
	margin-left:0%;
	margin-right:0%;
}

#title
{
	background-image:url(image/HomePage/cat.jpg);
	background-size: cover;
	margin-top:0%;
	padding-bottom:40px;
	height:600px;
}

#TitleA
{
	float:right;
	margin-top:0%;
	width:850px;
	color:#FFFFFF;
	display:inline-block;
}

#TitleAH1
{
    text-decoration:none;
    font-size:20px;
	margin-top:0%;
	width:180px;
	color:#FFFFFF;
	display:inline-block;
}

#TitleText
{
	width:250px;
	color:#FFFFFF;
	display:inline-block;
}

#TitleHead
{
    font-family:DFKai-sb;
    font-size:30px;
	margin-top:0%;
	color:#FFFFFF;
    text-align:center;
}
