.hand-text{
	text-align:center;
	color:#FFFFFF;
	margin: 0px;
	font-size:350%;
	padding-top:30px;
}

.follow{
	width:200px;
	height:200px;
}

.follow-div{
	background-color:#9D9D9D;
	z-index:1;
	padding-top:50px;
	padding-bottom: 50px;
	height: 750px;
	padding-left:300px;
}

@media screen and (max-width: 900px){
	.hand-text{
		font-size:150%;
	}
	.follow{
		width:100px;
		height:100px;
	}
	.follow-div{
		padding-left:100px;
	}
}